Repository gvozdenkov/algorithmic-school: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier:write, yarn lint, stylelint '**/*.scss' --fix

.lintstagedrc.json:

{
  "*.(js|ts|jsx|tsx)": ["yarn prettier:write", "yarn lint"],
  "*.md": "yarn prettier:write",
  "*.{css,scss}": "stylelint '**/*.scss' --fix"
}

ci(deploy): fix deploy to gh-pages
  .github/workflows/deploy-gh-pages.yml
Due: none

ci(deploy): fix deploy to gh pages
  .github/workflows/cypress.yml
Due: none

ci(deploy): fix test & deploy workflows
  .github/workflows/cypress.yml
  .github/workflows/deploy-gh-pages.yml
Due: none

ci(deploy): set-url to gh pages deploy
  .github/workflows/deploy-gh-pages.yml
Due: none

ci(deploy): fix deploy to gh pages
  .github/workflows/deploy-gh-pages.yml
Due: none

ci(deploy): fix deploy to gh pages
  .github/workflows/cypress.yml
  .github/workflows/deploy-gh-pages.yml
Due: none

ci: setup deploy to gh-pages after merge to main
  .github/workflows/cypress.yml
  .github/workflows/deploy-gh-pages.yml
Due: none

chore(install): storybook
  .eslintrc.cjs
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  yarn.lock
Due: none

ci: update artifacts v3 -> v4 node20
  .github/workflows/cypress.yml
Due: none

chore: change repo name
  .github/workflows/cypress.yml
  README.md
  cypress.config.ci.ts
  package.json
  vite.config.ts
Due: yarn prettier:write

chore: clean up package.json scripts & tsconfig.json
  package.json
  tsconfig.json
Due: none

chore(docker): for development
  .dockerignore
  .npmrc
  Dockerfile.dev
  Makefile
  compose.dev.yaml
  package.json
Due: none

docs: update README
  README.md
  README_static/commitlint-cli.png
  README_static/cypress-ci-workflow.png
Due: yarn prettier:write

style: fix logo size & alignment
  src/shared/ui/base-layout/base-layout.module.scss
  src/shared/ui/base-layout/base-layout.tsx
Due: stylelint '**/*.scss' --fix

style: fix solution title size
  src/shared/ui/solution-layout/solution-layout.module.scss
  src/shared/ui/solution-layout/solution-layout.tsx
Due: stylelint '**/*.scss' --fix

style: fix radio button style
  src/shared/ui/radio-input/radio-input.module.scss
  src/shared/ui/radio-input/radio-input.tsx
Due: stylelint '**/*.scss' --fix

style: fix sorting-page gaps
  src/pages/sorting-page/sorting-page.module.scss
Due: stylelint '**/*.scss' --fix

fix: remove buggy marquee
  package.json
  src/pages/main-page/main-page.module.scss
  src/pages/main-page/main-page.tsx
  yarn.lock
Due: stylelint '**/*.scss' --fix

docs(readme): fix fsd badge link
  README.md
Due: yarn prettier:write
